@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap);

#app,
#pages,
#template-bg
{
    display: flex;
}

:root
{
    --sqr: 100px;
    --h-1: 35px;
    --h-2: 40px;
    --theme: #4F6BA6;
    --theme-gems: #2a6b77;
    --theme-ministry: #9b6d17;
    --theme-living: #92101a;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

body
{
    height: 100vh;
    position: relative;
}

#app
{
    height: auto;
    background: 0 0;
}

#template-bg
{
    justify-content: center;
    margin: auto;
    width: 100%;
    background-color: #b6b6b6;
    overflow: auto;
}

#pages
{
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin: 20px;
    width: 1080px;
}

.page
{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 80px 1fr;
    padding: 40px;
    height: 1528px;
    background: #fff;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 2px 6px 2px;
}

.header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
    border-bottom: 5px double gray;
    width: 100%;
}

.bg-gems,
.bg-living,
.bg-ministry
{
    padding: 3.5px 8px;
}

.title
{
    font-size: 22px;
}

.contents
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.grid-2,
.grid-3,
.grid-title
{
    display: grid;
    gap: 15px;
}

.page:not(:last-child)
{
    page-break-after: always;
}

.grid-3
{
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
}

.grid-2
{
    grid-template-columns: 2fr 2fr;
    align-items: center;
}

.grid-title
{
    grid-template-columns: 20px 1fr;
    align-items: flex-start;
}

.student
{
    font-size: 15px;
}

.label
{
    color: gray;
    font-size: small;
}

.right-align
{
    text-align: right;
}

.bold
{
    font-weight: 600;
}

.font-gems
{
    color: var(--theme-gems);
}

.bg-gems
{
    background: var(--theme-gems);
    color: #fff;
}

.font-ministry
{
    color: var(--theme-ministry);
}

.bg-ministry
{
    background: var(--theme-ministry);
    color: #fff;
}

.font-living
{
    color: var(--theme-living);
}

.bg-living
{
    background: var(--theme-living);
    color: #fff;
}

@media print
{
    @page
    {
        size: A4;
    }

    button {
        display: none;
    }

    body {
        height: 100%;
    }

    #template-bg
    {
        background-color: #fff;
    }

    #pages
    {
        gap: 0;
        height: 100%;
        width: 1080px;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .page
    {
        overflow: hidden;
        padding: 0;
        height: 100%;
        box-shadow: none;
        page-break-after: always;
    }
}

.header, .contents {
    border: 1px dotted orange;
}