.page
{
    --theme-gems: #2a6b77;
    --theme-ministry: #9b6d17;
    --theme-living: #92101a;
    display: grid;
    background: white;
    padding: 50px;
    max-width: 1080px;
}

.page:not(:last-child)
{
    page-break-after: always;
}

.page-header
{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid gray;
}

.weeks-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bold {
    font-weight: 600;
}

.labels {
    color: grey;
    text-align: right;
}

.week-wrapper {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    border: 1px dotted orange;
}

.page-header-cong {
    font-size: medium;
    font-weight: 600;
}

.page-header-title {
    font-size: large;
    font-weight: 600;
}

.default-col-noauxy
{
    display: grid;
    grid-template-columns: 40px 1fr 200px;
}

.default-col-auxy
{
    display: grid;
    grid-template-columns: 40px 1fr 200px 200px;
}

.flex
{
    display: flex;
}

.semana
{
    display: flex;
    justify-content: space-between;
}

.assignments
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* background: yellow; */
    gap: 0px 8px;
}

.submeeting-header
{
    color: white;
    font-size: 15px;
    padding: 5px;

}

.gems
{
    background: var(--theme-gems);
}

.gems-text {
    color: var(--theme-gems);
}

.ministry
{
    background: var(--theme-ministry);
}

.ministry-text {
    color: var(--theme-ministry);
}

.living
{
    background: var(--theme-living);
}

.living-text {
    color: var(--theme-living);
}

@media print
{
    body
    {
        -webkit-print-color-adjust: exact;
    }

    .page, #template-bg
    {
        padding: 0;
        background: white;
    }

     


}